# == Node modules ==
node_modules/

# == Build outputs ==
dist/
dist-ssr/
build/

# == Environment variables ==
.env
.env.*

# == Logs ==
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# == Coverage reports ==
coverage/

# == System files ==
.DS_Store
Thumbs.db

# == Editor/IDE config ==
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# == Jest cache ==
jest-cache/
.cache/

# == SonarScanner ==
.scannerwork/
